<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>命令执行系统---胡祀鹏设计制作</title>
    <link href="../static/css/css.css" type="text/css" rel="stylesheet" />
    <script src="../static/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="../static/js/js.js" type="text/javascript"></script>
</head>
<body>
<div class="all">
    <div class="header">
        <div class="header_text">命令执行系统</div>
    </div>
    <div class="main">
        <textarea id="cmd_console"></textarea>
        <div class="theme">
            <div class="console_background">
                <label for="back_color">背景颜色：</label>
                <select name="back_color" size="1" id='back_color'>
                    <option>white</option>
                    <option selected="selected">gray</option>
                    <option>black</option>
                    <option>red</option>
                    <option>green</option>
                    <option>blue</option>
                </select>
                <input type="text" id="back_color_text" placeholder="自定义颜色(css支持的方式)" >
            </div>
            <div class="console_text">
                <label for="text_color">字符颜色：</label>
                <select name="text_color" size="1" id='text_color'>
                    <option>white</option>
                    <option>gray</option>
                    <option>black</option>
                    <option>red</option>
                    <option selected="selected">green</option>
                    <option>blue</option>
                </select>
                <input type="text" id="text_color_text" placeholder="自定义颜色(css支持的方式)" >
            </div>
        </div>
    </div>
    <div class="footer">
        胡祀鹏设计制作 ---2016.04.17
    </div>
</div>
</body>
</html>